.navbar{
    position: absolute;
    color: aliceblue;

}
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,900,600,500,300,100,800,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@font-face {font-family:'Arkhip';src: url('../font/Arkhip_font.ttf') format('truetype');font-weight: normal;font-style: normal;}


html,body{height: 100%;margin: 0; padding: 0;}
body{font-family: 'Work Sans', sans-serif;overflow-x:hidden}
:root{font-size: 10px;}
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}

.main-background-container{height: 140rem; width: 100%;position: relative;}
    .main-img-container,.main-img{height: 140rem; width: 100%;position: relative;}
    .logo{height: 25rem; width: 25rem;position: absolute; margin:0 auto; right: 0; left: 0;top: 6rem;}
        .svg-first-c{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;stroke-dasharray:300;stroke-dashoffset:300;opacity: 0;}
            .svg-first-c-animation{-webkit-animation:dash-letter .25s linear forwards;-webkit-animation-delay:3.15s;
                                  -moz-animation:dash-letter .25s linear forwards;-moz-animation-delay:3.15s;animation: dash-letter .25s linear forwards;animation-delay: 3.15s;}
        .svg-letter-b{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;stroke-dasharray:300;stroke-dashoffset:300;opacity: 0;}
            .svg-letter-b-animation{-webkit-animation: dash-letter .25s linear forwards;-webkit-animation-delay: 3.2s;
                                    -moz-animation: dash-letter .25s linear forwards;-moz-animation-delay: 3.2s;animation: dash-letter .25s linear forwards;animation-delay: 3.2s;}
        .svg-second-c{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;stroke-dasharray:300;stroke-dashoffset:300;opacity: 0;}
            .svg-second-c-animation{-webkit-animation: dash-letter .25s linear forwards;-webkit-animation-delay: 3.25s;
                                    -moz-animation: dash-letter .25s linear forwards;-moz-animation-delay: 3.25s;animation: dash-letter .25s linear forwards;animation-delay: 3.25s;}
        .svg-year{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;stroke-dasharray:300;stroke-dashoffset:300;opacity: 0;}
            .svg-year-animation{-webkit-animation: dash-letter .25s linear forwards;-webkit-animation-delay: 3.3s;
                                -moz-animation: dash-letter .25s linear forwards;-moz-animation-delay: 3.3s;animation: dash-letter .25s linear forwards;animation-delay: 3.3s;}
            @-webkit-keyframes dash-letter {to {opacity: 1;stroke-dashoffset: 0;stroke:none;}}
            @-moz-keyframes dash-letter {to {opacity: 1;stroke-dashoffset: 0;stroke:none;}}
            @keyframes dash-letter {to {opacity: 1;stroke-dashoffset: 0;stroke:none;}}
        .svg-first-line{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:150;stroke-dashoffset:150;}
            .svg-first-line-animation{-webkit-animation: dash-line .5s linear forwards;-webkit-animation-delay: 3.35s;
                                      -moz-animation: dash-line .5s linear forwards;-moz-animation-delay: 3.35s;-ms-animation: dash-line .5s linear forwards;-ms-animation-delay: 3.35s;animation: dash-line .5s linear forwards;animation-delay: 3.35s;}
        .svg-second-line{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:150;stroke-dashoffset:150;}
            .svg-second-line-animation{-webkit-animation: dash-line .5s linear forwards;-webkit-animation-delay: 3.4s;
                                       -moz-animation: dash-line .5s linear forwards;-moz-animation-delay: 3.4s;animation: dash-line .5s linear forwards;animation-delay: 3.4s;}
            @-webkit-keyframes dash-line {to {stroke-dashoffset: 0;}}
            @-moz-keyframes dash-line {to {stroke-dashoffset: 0;}}
            @keyframes dash-line {to {stroke-dashoffset: 0;}}
        .svg-romb{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;stroke-dasharray: 750;stroke-dashoffset: 750;}
            .svg-romb-animation{-webkit-animation: dash-romb .75s linear forwards;-webkit-animation-delay:3.45s;
                                -moz-animation: dash-romb .75s linear forwards;-moz-animation-delay: 3.45s;animation: dash-romb .75s linear forwards;animation-delay: 3.45s;}
            @-webkit-keyframes dash-romb {to {stroke-dashoffset: 0;}}
            @-moz-keyframes dash-romb {to {stroke-dashoffset: 0;}}
            @keyframes dash-romb {to {stroke-dashoffset: 0;}}
        .st2{font-family:'Arkhip';}
        .st3{font-size:4.8rem;}
        .st4{font-size:1.78259rem;}
        .st5{font-size:4.6rem;}
    





.contact-slide-container{height: 100%;width:100%;position: fixed;top: 0;bottom: 0;right: 0;transform: translateX(100%);}
    #map-container{width: 100%;height: 50%;}
        a[href^="http://maps.google.com/maps"]{display:none !important}
        a[href^="https://maps.google.com/maps"]{display:none !important}
        .gmnoprint a, .gmnoprint span, .gm-style-cc {display:none;}
        .gmnoprint div {background:none !important;}
    .bottom-container{height: 50%;width:100%;background-image: url(../img/contact-bottom-bg.jpg);
                      background-position: center;background-size: cover;background-repeat: no-repeat;}
    .contact-data-container{height:auto;width: 60%;position: absolute;top: 30%;left: 0;right: 0;margin: 0 auto;box-sizing: border-box;
                            padding:3% 0;background-color:#666666;opacity: 0;}
        .contact-heading-container{text-align: center;}
            .contact-heading{display: block;width: 25rem;margin:0 auto 1rem auto;border-bottom: .1rem solid #f6f6f6;font-size: 3.5rem;
                            font-weight: 600;color: #f6f6f6;}
            .contact-subheading{font-weight: 300;font-size: 1.5rem;color: #f6f6f6;}
        .contact-details-wrapper{height: 5rem;width: 95%;box-sizing: border-box;padding: 0 1rem;display: block;margin: 5rem auto 0;
                                 text-align: center;}
            .contact-details-container{margin-right: 5rem;}
                .contact-icon{color: #f6f6f6;margin-right: 1rem;}
                .contact-detail{color: #f6f6f6;font-size: 1.2rem;}
        .social-icon-container{height: 12rem;width: 50%;display: block; margin:5rem auto 0;text-align:center;}
            .social-icon-wrapper{height: 5rem;width: 35rem;display: block;margin:3rem auto 0 auto;}
                .social-icon{color: #f6f6f6;font-size: 4rem;}
                .social-icon-margin{margin-right: 7.5rem;}

.preload-container{height: 100%;width: 100%;position: fixed;transform: translateY(0%);bottom: 0;right: 0;left: 0;overflow: hidden;
                   -webkit-animation-name:fade-out;-webkit-animation-duration:0.6s;-webkit-animation-fill-mode:forwards;
                   -webkit-animation-delay:3s;animation-name:fade-out;animation-duration:0.6s;animation-fill-mode:forwards;}
    .preload-container-animation{}
                    @keyframes fade-out {from {transform: translateY(0%);}
                                        to {transform: translateY(-100%);}}
                    @-webkit-keyframes fade-out {from {transform: translateY(0%);}
                                                to {transform: translateY(-100%);}}
    .preload-left-section{height: 100%;width: 50%;float: left;margin: 0; background-color: #f6f6f6;
                          background-image: url(../img/poly-bg-modified.svg);background-size: cover;background-position: center;background-repeat: no-repeat;}
    .preload-right-section{height: 100%;width: 50%;float: left;margin: 0;background-color: #f6f6f6;background-image: url(../img/poly-bg.svg);
                          background-size: cover;background-position: center;background-repeat: no-repeat;}
    .preloader-wrapper{height: 5rem;width:25%;position: absolute;left: 0;right: 0;margin: auto;top: 0;bottom: 0;text-align: center;}
        .preloader-wrapper span{font-size: 1.5rem;color: #666666;font-weight: 500;}
        .preloader{height: 3rem;width:100%;border: 0.2rem solid #666666;
                       box-sizing: border-box;padding: 0.5rem;}
            .loading-bar{height: 100%;width: 0%;background-color: #666666;}
                .loading-bar-animation{-webkit-animation-name: loading;-webkit-animation-duration:3s;
                                       -webkit-animation-fill-mode:forwards;animation-name: loading;animation-duration: 3s;animation-fill-mode:forwards}
            @keyframes loading {from {width: 0%;}
                                50%{width: 50%;}
                                to {width: 100%;}}
            @-webkit-keyframes loading {from {width: 0%;}
                                        50%{width: 50%;}
                                        to {width: 100%;}}
