h1{
    text-align: center;
    font-family: fantasy  ;
}
body{
    background-image: url('https://wallscloud.net/img/resize/1920/1080/MM/2022-04-06-Walls_%2823%29.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.discord{
color: black;
background-color: transparent;
font-size: 25px;
font-family: fantasy;
text-align:center;

}
